.wrapper {
    width: 100%;
    margin: 40px 0;
}

.column {
  float: left;
  width: 40%;
}

.input-error {
  border: red 1px solid;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.row {
    margin-bottom: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
